table {
width:95%;
margin:16px;
font-family: "Bitter";
border-color: rgb(76, 8, 131);
border-collapse: collapse;
align-items: center;
margin-left:auto;
margin-right:auto;
}
th {
    background-color: #d4a2e8;
    font-family: "Bitter", serif;
    font-weight: bold;
}
tr:nth-child(odd) {
    background-color: #6c5077;
  }
th, td {
padding: 15px;
text-align: center;
color: rgb(0, 0, 0);
margin: 16px;
border: 2.5px solid rgb(236, 217, 132);
}

ul{
list-style-type: none;
font-size: 26px;
margin: 16px;
padding: 15px;
overflow: hidden;
}
li {
display: inline;
float: right;
}
li a {
display: block;
color: rgb(0, 0, 0);
text-align: center;
padding: 24px;
font-size: 20px;
}
li a:hover {
background-color: rgb(236, 217, 132);
display: inline-block;
}
li a:link {
    text-decoration: none;
  }
  
  li a:visited {
    text-decoration: none;
  }
  
  li  a:active {
    text-decoration: underline;
  }
body {
background-image: url('ti3.png');
background-repeat: no-repeat;
background-size: cover;
}
center{
 color:black;
}